$primary-100: #00a964;
$primary-60: #6ee266; // main color
$primary-40: #46f2aa;
$primary-20: #e0ffdd;

$secondary: #4681f2;

$neutral-100: #111111;
$neutral-70: #555555;
$neutral-40: #999999;
$neutral-20: #efefef;
